<div>

    <h2>Resultado de la receta</h2>

    Nombre del cocinero:
    <input type="text" value="@ViewBag.Nombre" />

    <br><br>

    Edad:
    <input type="number" value="@ViewBag.Edad" />

    <br><br>

    Plato sugerido:
    <input type="text" value="@ViewBag.Plato" />

    <br><br>

    Tiempo estimado de preparación:
    <input type="number" value="@ViewBag.Tiempo" />

    <br><br>

    Cantidad de personas:
    <input type="number" value="@ViewBag.CantidadPersonas" />

    <br><br>

    Dificultad del plato:
    <input type="text" value="@ViewBag.Dificultad" />

</div>